@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Sans Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: black;
  background-color: white; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
  Below classes were moved to tailwind.config.js for easier switching of colors
*/
/*
.bp-color,
.bp-color-dark {
  color: black;
}

.bp-color-bright {
  color: white;
}

.bp-color-positive {
  color: #3C9233;
}

.bp-color-negative {
  color: #AF3E44;
}

.bp-color-accent {
  color: #8E3268;
}

.bp-color-subtle {
  color: gray;
}

.bp-bg-color,
.bp-bg-color-bright {
  background-color:white;
}
.bp-bg-color-dark {
  background-color: black;
}
.bp-bg-color-positive {
  background-color: #7EBD77;
}
.bp-bg-color-negative {
  background-color: #E38F93;
}
.bp-bg-color-accent {
  background-color: #B8749C;
}
.bp-bg-color-subtle {
  background-color: #DAB8CC;
}

*/